= simple_form_for @user do |f|
  = f.input :name, label: 'Name'
  = f.input :email, label: 'Email'
  = f.input :company, label: 'Company'
  = f.input :location, label: 'Location'
  = f.button :submit
  