.item-wrapper
  - @items.each do |item|
    %h3 
      =item.equipment_type
      with S/N:
      = item.serial
    %div.row.item
      %div.col-xs-3.form-group
        %h5 <b> Type:</b>
        .reg_name
          = item.equipment_type
      %div.col-xs-3.form-group
        %h5 <b> Model:</b>
        .reg_name
          = item.model_number
      %div.col-xs-3.form-group
        %h5 <b> Serial Number:</b>
        .reg_name
          = item.serial
      %div.col-xs-3.form-group
        %h5 <b> Description:</b>
        .reg_name
          = item.description
      %div.col-xs-3.form-group
        %h5 <b> Cost($):</b>
        .reg_name
          = item.cost
      %div.col-xs-3.form-group
        %h5 <b> Purchase Date:</b>
        .reg_name
          = item.purchase_date
      %div.col-xs-3.form-group
        %h5 <b> Belongs to User:</b>
        .reg_name
          = get_user_name(item)
      %div.col-xs-3.form-group
        %br
        = link_to "Edit Item", edit_item_path(item)