= simple_form_for @item do |f|
  = f.input :equipment_type, label: 'Type'
  = f.input :model_number, label: 'Model'
  = f.input :serial, label: 'Serial Number'
  = f.input :cost, label: 'Cost($)'
  = f.input :description, label: 'Description'
  = f.input :purchase_date, label: 'Purchase Date'
  = f.button :submit
  